body {
	overflow: hidden;
	background-color: #2C2C2C;
}

ul {
	list-style-type: none;
	margin: 0;
}

li {
	display: inline-block;
}

img.galleryPhoto {
	-webkit-transition: all .25s ease-in-out;
}

#heatmapArea {
	position: absolute;
	top: 0;
	right: 9px;
	width: 60px;
	height: 100%;
	cursor: pointer;
	transition: all 0.25s ease;
}

.heatMapNormal {
	background-color: #1A1E24;
}

.heatMapUnderFilter {
	background-color: #293A29;
}

#taggingArea {
	position: absolute;
	bottom: 10px;
	left: -20px;
	z-index: 100;
}

#tagInputBoxHolder {
	display: none;
	position: fixed;
	top: 0;
	left: 132px;
	width: 251px;
	height: 59px;
	padding-top: 9px;
	padding-left: 10px;
	background: white;
	box-shadow: 6px 10px 13px rgba(0, 0, 0, 0.89);
}

#tagInputBox {
	font-family: "Orienta", sans-serif;
	width: 240px;
	height: 48px;
	text-indent: 6px;
	outline: none;
	font-size: 26px;
	border: 1px solid rgb(192, 131, 39);
}

#tagList {
	position: absolute;
	left: 0;
	bottom: 20px;
}

.tagWidget {
	height: 20px;
	width: 200px;
	color: white;
	border-radius: 10px;
	background-color: rgba(32, 29, 29, 0.88);
	border: 1px solid rgba(156, 156, 156, 0.25);
	box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.89);
	cursor: move;
}

.tagName {
	position: absolute;
	font-family: "Orienta";
	font-size: 14px;
	margin-left: 24px;
	margin-top: 2px;
}

.deactivateTag {
	float: left;
	margin-top: 2px;
	margin-left: 5px;
	font-size:15px;
	color: rgb(97, 97, 97);
	cursor: pointer;
}

.filterTagButton {
	float: right;
	font-size:18px;
	color: rgb(104, 104, 104);
	margin-top: 1px;
	margin-right: 8px;
	cursor: pointer;
}

.filterTagButtonActive {
	color: rgb(238, 238, 238);
}

.armTagButton {
	float: right;
	font-size: 15px;
	color: rgb(105, 27, 27);
	margin-top: 2px;
	margin-right: 5px;
	cursor: pointer;
}

.tagWidgetArmed {
	background-color: rgba(126, 0, 0, 0.88);
}

.tagFilterOn {
	background-color: rgba(0, 126, 44, 0.87);
}

.armTagButtonArmed {
	color: red;
}

.shortcutNumber {
    float: right;
    width: 26px;
    font-family: "Orienta", sans-serif;
    font-size: 14px;
	text-align: center;
    margin-right: 15px;
    margin-top: 2px;
    background-color: rgb(226, 82, 82);
    cursor: pointer;
}

.editingShortcutNumber {
    background-color: rgb(253, 233, 0);
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
}

#container::-webkit-scrollbar {
	width: 8px;
}

#container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/* 	-webkit-border-radius: 10px; */
	/* 	border-radius: 10px; */
	/* 	background-color: red; */
}

#container::-webkit-scrollbar-thumb {
	/* Enable these two to round off the corners */
	/*-webkit-border-radius: 10px;*/
	/*border-radius: 10px;*/
	/* 	background: rgba(185, 185, 185, 0.8); */
	background: #0487FF;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#autopageContent {
	margin-top: 30px;
	width: 95%;
}

.imageHolder {
	margin: 1px;
	cursor: pointer;
	vertical-align: top;
	border: 2px solid #222222;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: rgb(244, 255, 10);
}

.imageHolderOK {
	background-color: rgb(42, 255, 54);
}

.imageHolderError {
	background-color: rgb(255, 11, 50);
}

.activeImage {
	border: 2px solid #0487FF;
}

.controlPanel {
	position: relative;
	left: 0;
	height: 20px;
	background: rgb(117, 117, 117);
	border: 1px solid rgb(100, 100, 100);
}

.originalLink {
	margin-left: 5px;
	margin-top: 3px;
	position: absolute;
	text-decoration: none;
	color: rgb(54, 61, 73);
}

img.ui-selecting {
	-webkit-filter: opacity(0.3) brightness(1.5) saturate(2.0);
}

img.ui-selected {
	-webkit-filter: opacity(0.7) contrast(1.4);
}

.filterDim {
	border: 2px solid rgb(112, 255, 0);
}

#loadedPages {
	z-index: 101;
	background-color: #0487FF;
}

.progressIndicator {
	position: fixed;
	bottom: 0;
	height: 8px;
	background-color: rgb(0, 44, 109);
	width: 100%;
	z-index: 100;
	transition: all 0.5s ease;
}

#tagger-tooltip {
	position: fixed;
	font-size: 12px;
	font-family: "Orienta";
	width: 86px;
	height: 17px;
	background-color: rgb(238, 2, 2);
	z-index: 10;
	align-content: center;
	border-radius: 7px;
	color: white;
	border: 2px solid #fefefe;
	display: none;
	box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.6);
}

.tagger-tooltip-content {
	text-align: center;
	line-height: 15px;
	margin-left: auto;
	margin-right: auto;
}

#authorizeScreen {
	margin: 50px auto;
	width: 320px;
	height: 490px;
	background: whitesmoke;
	padding: 20px;
	border: 2px solid black;
	display: none;
	transform:rotate(3deg);
	-webkit-transform:rotate(3deg);
}

#authorizeText {
	font-family: 'Indie Flower', cursive;
	width: 230px;
	margin: 10px auto;
	text-align: center;
	font-size: 17px;
}

#scrubberHolder {
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -250px;
	margin-top: -10px;
	width: 500px;
	z-index: 200;
	display: none;
}

#scrubber {
	height: 25px;
	-webkit-box-shadow: inset 0 0 12px #131314;
	-moz-box-shadow: inset 0 0 12px #131314;
	box-shadow: inner 0 0 12px #131314;
}

.scrubberNormal {
	background: #720100;
}

.scrubberClit {
	height: 25px;
	position: absolute;
	width: 2px;
	background: #FF0100;
}

#scrubberThumbHolder {
	position: relative;
	top: 10px;
	display: inline-block;
	width: 600px;
}

.scrubberThumbnail {
	border: 4px solid black;
	width: 80px;
	cursor: pointer;
}