<html ng-app="Proteus">
	<head>
		<title ng-bind="mainTitle">Run Baby Run</title>
		<link rel="stylesheet" type="text/css" href="/css/index.css">
		<link rel="stylesheet" type="text/css" href="/css/spinner.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	</head>
	<body keyboard-events>
	<div id="authorizeScreen">
		<div class="authorizeImageContainer">
			<img src="/img/upskirt.jpg" />
		</div>
		<div id="authorizeText">
			Go <a id="authorizeUrl" href="/" target="_blank">here</a> to let Taggr look up your skirt before we begin!
		</div>
	</div>
	<div id="heatmapArea" class="heatMapNormal"></div>
	<div id="headerControls">
		<div class="spinner" my-head-is-spinning>
			<div class="b red" ><div></div></div>
			<div class="b blue" ><div></div></div>
			<div class="b yellow" ><div></div></div>
			<div class="b green" ><div></div></div>
		</div>
	</div>
	<div id="taggingArea" ng-controller="TaggingController" mouse-tracker>
		<div>
			<i class="icon-tags toggleTagCloudListButton" ng-click="toggleTagCloud()"></i>
		</div>
		<div ng-if="tagCloudIsVisible" id="tagCloudHolder" bindonce>
			<ul id="tagCloudList">
				<li ng-repeat="tag in tagCloudList | filter:isTagVisible" bo-text="tag.name"
				    ng-class="{tagCloudItem: true, tagCloudItemNormal: true, tagCloudItemVisible: tagsCurrentlyVisible.indexOf(tag.name)>=0, tagCloudItemActive: tagFilters.indexOf(tag.name)>=0}"
					ng-style="getTagFontSize(tag.count)"
					ng-click="toggleTagFilter(tag.name)"
					ng-dblclick="createWidgetWithTag(tag.name)"></li>
			</ul>
		</div>
		<div id="tagger-tooltip"
			ng-if="activeTag().length>0">
			<div class="tagger-tooltip-content" ng-bind="activeTag()"></div>
		</div>
		<div id="tagInputBoxHolder">
			<form input-box-ops>
				<input id="tagInputBox" type="text" ng-model="textValue" name="text" />
			</form>
		</div>
		<ul id="tagList">
			<li ng-repeat="widget in tagWidgets"
			    ng-class="{tagWidget: true, tagWidgetArmed: activeTag()===widget.name, tagFilterOn: tagFilters.indexOf(widget.name)>=0}"
				draggable-widget bindonce>
				<div class="tagName" bo-text="widget.name"></div>
				<div class="deactivateTag" ng-click="removeTagWidget(widget)">
					<i class="icon-remove-sign"></i>
				</div>
				<div ng-class="{armTagButton: true, armTagButtonArmed: activeTag()===widget.name}"
					ng-click="armTagWidget(widget.name)">
					<i class="icon-circle"></i>
				</div>
				<div ng-class="{filterTagButton: true, filterTagButtonActive: tagFilters.indexOf(widget.name)>=0}"
					ng-click="toggleTagFilter(widget.name)">
					<i ng-class="filterVisibiltyIconStyle(widget.name)"></i>
				</div>
				<div ng-class="{shortcutNumber: true, editingShortcutNumber: shortcuts.indexOf(widget.name)<0}"
					ng-click="assignShortcut(widget.name, $event)"
					ng-bind='shortcuts.indexOf(widget.name)>=0 ? shortcutPrettyName(widget.name) : "&nbsp;" '>
				</div>
			</li>
		</ul>
	</div>
	<div id="scrubberHolder" ng-controller="ScrubberController" ng-mousemove="refreshThumbs()">
		<div class="scrubberClit" ng-style="{left: model.mouseX}" ng-click="goToPage()"></div>
		<div id="scrubber" class="scrubberNormal" ng-click="goToPage()" scrubber-mouse-position></div>
		<ul id="scrubberThumbHolder" ng-style="{left: model.mouseX-150}">
			<li ng-repeat="thumb in thumbnails">
				<!-- Pass goToPage the values of the attributes, not the photo object, because that's mutable! -->
				<img class="scrubberThumbnail" ng-src="{{ thumb.src }}" ng-click="goToPage(thumb.page, thumb.id)"/>
			</li>
		</ul>
	</div>
	<div id="container" ng-controller="GalleryController" autoload-content-on-scroll>
		<div id="autopageContent" bindonce selection-interactions>
			<ul ng-repeat="photoRow in photoRows" bo-id="photoRow.id" class="photoRow">
				<li ng-repeat="photo in photoRow.images"
					ng-if="!photo.ui.deleted"
					bo-id="'holder_'+photo.id"
					ng-class="{imageHolder: true, activeImage: activeImageId===photo.id, filterDim: (tagFilters.length>0 && photo.ui.dimwit)}">
					<img class="galleryPhoto" bo-id="photo.id" bo-src="photo.src"
						ng-dblclick="onImageDblClick(photo, $index, photoRow.id)"
						on-finish-image-render />
					<div ng-if="photo.ui.xpanded" class="controlPanel">
						<a bo-href="photo.o" class="originalLink">
							<i class="icon-fullscreen" ng-click="openOriginalLink($event, photo.o)"></i>
						</a>
						<i class="icon-eject shrinkButton" ng-click="shrinkPhoto(photo)"></i>
					</div>
				</li>
			</ul>
		</div>
		<div id="loadedPages" ng-style="updateCurrentProgress()" class="progressIndicator"></div>
		<div id="totalPages" class="progressIndicator"></div>
	</div>
	<script src="/js/jquery-2.0.3.min.js"></script>
	<script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/angular-1.2.2.js"></script>
	<script src="/js/bindonce.js"></script>
	<script src="/js/jquery.ba-throttle-debounce.min.js"></script>
	<script src="/js/jquery.scrollTo.js"></script>
	<script src="/js/heatmap.js"></script>
	<script src="/js/firebase.js"></script>
	<script src="/js/utilities.js"></script>
	<script src="/js/md5.js"></script>
	<script src="/js/moment.min.js"></script>
	<script src="/js/flickrAuth.js"></script>
	<script src="/js/flickrFactory.js"></script>
	<script src="/js/flickrTrack.js"></script>
	<script src="/js/main.js"></script>
	</body>
</html>